---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me chamo Yang Enmanuel, sou cubano mas moro no estado de Santa Catarina, no Brasil. Atualmente, estudo <strong>Ciências da Computação</strong> na Unisul, com um grande amor pela programação e criação de aplicações web.
    </p>

    <p>
      Na minha carreira, destaco-me por sucessos como <strong>altas nomeações em hackathons de programação</strong>, patrocinados pela Cohere AI e Infojobs Espanha, onde alcancei bons resultados criando aplicações web potencializadas com inteligência artificial.
    </p>

    <p>
      Atualmente, trabalho em colaborações para <strong>projetos de código aberto</strong> e, como <em class="italic">freelancer</em>, crio aplicações web com uma forte interação cliente-desenvolvedor, priorizando um design moderno e a segurança do aplicativo.
    </p>
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>
