---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Atualmente...",
    title: "Freelancer",
    company: "",
    description:
      "Trabalho no desenvolvimento de sites para pequenas e medianas empresas promovendo a visibilidade nas redes das mesmas. Destacam-se: um blog de uma escritora independente e o site de uma cabeleireira-massagista promovendo suas vendas e visão ao público. Em todos eles demonstrando bom contato com o cliente e as minhas habilidades na criação de designs modernos e estéticos.",
    // link: "https://twitch.tv/midudev",
  },
  // {
  //   date: "Septiembre 2022",
  //   title: "Principal Frontend Engineer",
  //   company: "Adevinta Spain",
  //   description:
  //     "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  // },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
