---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Mar 2024 - Presente",
    title: "Frontend Developer",
    company: "Avanti",
    description:
      "Desenvolvimento de e-comerce utilizando VTEX IO, ReactJs, GraphQL, Apollo Client, entre outras tecnologias. Atuando em um time multidisciplinar, com foco em desenvolvimento de novas features",
  },
  {
    date: "Mar 2023 - Feb 2024",
    title: "Freelancer",
    company: "",
    description:
      "Trabalho no desenvolvimento de sites para pequenas e medianas empresas promovendo a visibilidade nas redes das mesmas. Destacam-se: um blog de uma escritora independente e o site de uma cabeleireira-massagista promovendo suas vendas e visão ao público. Em todos eles demonstrando bom contato com o cliente e as minhas habilidades na criação de designs modernos e estéticos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
